.photo {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

.tag_cloud {

}
.tag_cloud li {
  display: inline-block;
  padding: .3em;
  list-style-type: none;
}
.tg_1 {
  font-size: 180%;
}
.tg_2 {
  font-size: 150%;
}
.tg_3 {
  font-size: 100%;
}
.tg_4 {
  font-size: 80%;
}
.tg_5 {
  font-size: 60%;
}

.bbdata {
  padding-left: 3rem;
  padding-right: 3rem;
}
